.form_section{
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  background: rgba(67, 67, 67, .2);
  z-index: 99;

  display: none;
  align-items: center;
  justify-content: center;
}

.form_box{
  content: "";
  position: relative;
  width: 600px;
  height: 650px;
  background: #eee;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
}

.form_top{
  display: inline-flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}



.logo{
  width: 100px;
}

.close > a{
  font-size: 1.5rem;
  color: #434343;
}

#form_signup_cont{
  display: none;
}

#form_signin_cont{
  display: flex;
}

.form_container {
  height: calc(100% - 50px);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.form_container form{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  margin: auto;
}

.social_login{
  display: inline-flex;
  gap: 10px;
}

.social_login > a{
  font-size: 1.6rem;
  color: var(--clr_prim);
  opacity: 6;
}

.form_container form > input{
  height: 40px;
  width: 350px;
  padding: 10px;
  border: 1px solid #434343;
  border-radius: 10px;
  
}

.form_container form > input[type="submit"]{
  border: none;
  width: 200px;
  background: var(--clr_prim);
  color: #eee;
  font-weight: 600;
  cursor: pointer;

}

.accept_policy{
  display: inline-flex;
  gap: 10px;
}

@media screen and (max-width: 720px) {
  .form_box{
    width: 100%;
    height: 100%;
    border-radius: unset;
  }

  .form_container form > input{
    height: 40px;
    width: 350px;
    padding: 10px;
    border: 1px solid #434343;
    border-radius: 10px;
    
  }
}